html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #FEFFEC;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./assets/back2.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  transform: scale(1.1); /* blur kenarları kesmesin diye */
  z-index: -1;
}

.aboutme{
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  font-family: "Noto Sans", sans-serif;
}
.about_text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  font-family: "Noto Sans", sans-serif;
}

.about_text p{
  margin-bottom: 5px;
  margin-left: 20px;

}

.image1{
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 10vh;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.about{
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.projects h2{
  font-family: "Noto Sans", sans-serif;
  margin-left: 20px;
}

.projects-grid{
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 20px;
  align-items: flex-start;
  overflow-x: auto;
  padding-bottom: 10px;
}

.project-content a {
  text-decoration: none;
  color: #FEFFEC;
}
.project-cards{
  background-color: #111111;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.project-cards span{
  display: block;
}

.header-logo {
  width: 100px;
  height: auto;
}

.header {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(23, 23, 23, 0.3);
}

.header a {
  font-family: "Noto Sans", sans-serif;
  color: #FEFFEC;
  text-decoration: none;
}

.header-links {
  font-size: larger;
  display: flex;
  gap: 20px;
}

section {
  padding-bottom: 20px;
}